<a href="https://colab.research.google.com/github/SusaiIgnesh/Readme/blob/main/data_structure_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Structures in Python**

(I) **SET METHOD**
(II)**LIST METHODS**
(III)**Tuple methods**
(IV) **Dictionary methods**

In [118]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

# set method

In [ ]:
#(I)SET
variable = {5, 10.5, "apple", True, False, 5, "apple"}
variable

{10.5, 5, False, True, 'apple'}

In [ ]:
#add function
variable.add(100)

In [ ]:
#Clear(Removes all the elements from the set)
variable.clear()

In [ ]:
#copy(a copy of the set)
variable.copy()

set()

In [ ]:
#difference(set that contains the items that only exist in set A, and not in set Y)
A = {"AI","BIG DATA","DATA",'ML'}
B = {"BIG DATA","STAT","COMPUTER","DATA"}
P = A.difference(B)
print(P)

{'ML', 'AI'}

In [ ]:
#DISCARD(clear the specified item)
name={"ML","AI","BIG DATA","STAT"}
name.discard("BIG DATA")
print(name)

{'STAT', 'ML', 'AI'}

In [ ]:
#intersection( that only contains the items that are present in both sets)
A = {"AI","BIG DATA","DATA",'ML'}
B = {"BIG DATA","STAT","COMPUTER","DATA"}
output= A.intersection(B)
print(output)

{'BIG DATA', 'DATA'}

In [ ]:
#difference_update  (Remove the items that exist in both sets)
A = {"AI","BIG DATA","DATA",'ML'}
B = {"BIG DATA","STAT","COMPUTER","DATA"}
A.difference_update(B)
print(A)

{'ML', 'AI'}

In [ ]:
#intersection_update(Removes the items in this set that are not present in other specified set)
A = {"AI","BIG DATA","DATA",'ML'}
B = {"BIG DATA","STAT","COMPUTER","DATA"}
C={"DATA","MATH","SPORTS","ANALYSIS"}
A.intersection_update(B, C)
print(A)

{'DATA'}

In [ ]:
#isdisjoint(it is shown whether two sets have a intersection or not)
A = {"AI","BIG DATA","DATA",'ML'}
B = {"BIG DATA","STAT","COMPUTER","DATA"}
L = A.isdisjoint(B) 

print(L)

False

In [ ]:
#issubset(if the all itemS present in both A AND B)
A = {"AI","BIG DATA","DATA",'ML'}
B = {"BIG DATA","AI","ML","DATA"}
K = A.issubset(B)
print(K)

True

In [ ]:
#issuperset( if all items set B are present in set A)
A = {"AI","BIG DATA","DATA",'ML'}
B = {"BIG DATA","AI","ML","DATA"}
K = A.issuperset(B)
print(K)

True

In [ ]:
#pop(Remove a random item from the set)
A = {"AI","BIG DATA","DATA",'ML'}
A.pop()

print(A)

{'AI', 'BIG DATA', 'DATA'}

In [ ]:
#remove(Removes the specified element)
A = {"AI","BIG DATA","DATA",'ML'}
A.remove("ML")
print(A)

{'AI', 'BIG DATA', 'DATA'}

In [ ]:
#symmetric_difference(It contain all items in both set,except items that are not present in both sets)
A = {"AI","BIG DATA","DATA",'ML'}
C={"DATA","MATH","SPORTS","ANALYSIS"}
K = A.symmetric_difference(C)
print(K)

{'ML', 'MATH', 'AI', 'SPORTS', 'BIG DATA', 'ANALYSIS'}

In [ ]:
#symmetric_difference_update(Remove the items that are present in both sets)
A = {"AI","BIG DATA","DATA",'ML'}
C={"DATA","MATH","SPORTS","ANALYSIS"}
A.symmetric_difference_update(C) 
print(A)

{'ML', 'AI', 'MATH', 'SPORTS', 'BIG DATA', 'ANALYSIS'}

In [ ]:
#union(set that contains all items from both sets)
A = {"AI","BIG DATA","DATA",'ML'}
B = {"BIG DATA","AI","ML","DATA"}
G= A.union(B)
print(G)

{'ML', 'AI', 'DATA', 'BIG DATA'}

In [ ]:
#update(add multiple items to a set)
#we can use list, tuple, set
A = {"AI","BIG DATA","DATA",'ML'}
A.update(["xxx","YYY"])
A

{'AI', 'BIG DATA', 'DATA', 'ML', 'YYY', 'xxx'}

**LIST METHODS**

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

**1) append( )**
a
dds item/items at the end of the list

In [ ]:
A = ["AI","BIG DATA","DATA",'ML']
A.append("CDA")
print(A)

['AI', 'BIG DATA', 'DATA', 'ML', 'CDA']

**2) insert( )**

inserts item at a specific index location.

In [ ]:
A.insert(4,"stat")
print(A)

['AI', 'BIG DATA', 'DATA', 'R', 'stat', 'R', 'R', 'ML', 'CDA']

**3) remove( )**

removes the first items specified element in the list.

In [ ]:
A.remove("R")
print(A)

['AI', 'BIG DATA', 'DATA', 'stat', 'ML', 'CDA']

**4) POP()**

Removes the element at the specified position

In [ ]:
#index is specified
A.pop(2)
print(A)

['AI', 'BIG DATA', 'stat', 'ML', 'CDA']

**5) clear( )**

Removes all the elements from the list.

In [ ]:
VAR=['AI', 'BIG DATA', 'DATA', 'stat', 'ML', 'CDA',2,3,45,{"xx":"yy"}]
VAR.clear()
print(VAR)

[]

**6) copy( )**

copying the list / creating a duplicate list

In [ ]:
A = ["AI","BIG DATA","DATA",'ML',(23,45),{"RRR":89}]
X=A.copy()
print(A)

['AI', 'BIG DATA', 'DATA', 'ML', (23, 45), {'RRR': 89}]

**7) extend( )**

Adding a list with another list.

In [ ]:
list1=[23,45,67]
list2=[45,67,89,90]
list1.extend(list2)
list1

[23, 45, 67, 45, 67, 89, 90]

**8) sort( )**

Sorts the list

In [ ]:
#in the system automatically takes the elements in the list are sorted in Ascending order
list3=[34,56,78,45,89,34]
list3.sort()
list3

[34, 34, 45, 56, 78, 89]

In [ ]:
#if you want to use descending order
list3.sort(reverse = True) 
list3

[89, 78, 56, 45, 34, 34]

**9) index( )**

Returns the index of first specified element

In [ ]:
A = ["AI","BIG DATA","DATA",'ML']
A.index("ML")

3

**10) count( )**

Returns the number of times a specified value occurs in a tuple

In [ ]:
A = ["AI","BIG DATA","DATA",'ML']
A.count("ML")

1

**11) reverse( )**

reverses the position of the elements in the list

In [ ]:
A = ["AI","BIG DATA","DATA",'ML']
A.reverse()

**Tuple methods**

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

**1) Count( )**

Returns the number of times a specified value occurs in a tuple

In [ ]:
MY=({"data":12},[1,3,4,5],56,"myname")
MY

({'data': 12}, [1, 3, 4, 5], 56, 'myname')

In [ ]:
MY.count(56)

1

**2) Index( )**

Searches the tuple for a specified value

In [ ]:
MY.index("myname")

3

**Dictionary methods**

In [ ]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
var2={ "Student_name":"Varun","Student_id":123,"student_address":"xxyz","student_mark":90,"student_performance":"good"}
var2

{'Student_name': 'Varun',
 'Student_id': 123,
 'student_address': 'xxyz',
 'student_mark': 90,
 'student_performance': 'good'}

**1) get( )**

returns the value of the specified key

In [ ]:
var2.get("student_mark")

90

**2) keys( )**

returns all the keys and only keys

In [ ]:
var2.keys()

dict_keys(['Student_name', 'Student_id', 'student_address', 'student_mark', 'student_performance'])

3)**clear()**

Removes all the elements from the dictionar

In [ ]:
var2.clear()
print(var2)

{}

**4) copy**

copy of the dictionary

In [ ]:
var2={ "Student_name":"Varun","Student_id":123,"student_address":"xxyz","student_mark":90,"student_performance":"good"}
var2

{'Student_name': 'Varun',
 'Student_id': 123,
 'student_address': 'xxyz',
 'student_mark': 90,
 'student_performance': 'good'}

In [ ]:
var3=var2.copy()
var3

{'Student_name': 'Varun',
 'Student_id': 123,
 'student_address': 'xxyz',
 'student_mark': 90,
 'student_performance': 'good'}

**5) fromkeys()**

create a dictionary with the specified keys and value

In [ ]:
dis={'location_1','location_2','location_3'}
dis2="heaven"
out = dict.fromkeys(dis, dis2)
print(out)

{'location_3': 'heaven', 'location_1': 'heaven', 'location_2': 'heaven'}

**6) items()**

returns both key and value in seperate tuple.

In [ ]:
x = out.items()

print(x)

dict_items([('location_3', 'heaven'), ('location_1', 'heaven'), ('location_2', 'heaven')])

**7) pop()**

remove the value with specified key

In [ ]:
var2.pop("Student_name")

'Varun'

**8) popitem()**

Remove the last item from the dictionary

In [ ]:
var2={ "Student_name":"Varun","Student_id":123,"student_address":"xxyz","student_mark":90,"student_performance":"good"}
var2.popitem()
print(var2)

{'Student_name': 'Varun', 'Student_id': 123, 'student_address': 'xxyz', 'student_mark': 90}

9**) setdefault()**

Returns the value of the specified key

In [ ]:
x = var2.setdefault("Student_id", "Student_idxx")

print(x)

123

**10) update()**

Updates the dictionary with the specified key-value pairs

In [ ]:
var2.update({"student_health_status": "normal"})
print(var2)

{'Student_name': 'Varun', 'Student_id': 123, 'student_address': 'xxyz', 'student_mark': 90, 'student_health_status': 'normal'}

**11) values()**

Return the *values*

In [ ]:
val1=var2.values()
print(val1)

dict_values(['Varun', 123, 'xxyz', 90, 'normal'])