<a href="https://colab.research.google.com/github/SusaiIgnesh/Readme/blob/main/Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#The first thing we want to do is import numpy.
import numpy as np

In [3]:
#Let us first define a Python list containing the ages of 6 people
ages_list = [10, 5, 8, 32, 65, 43]
print(ages_list)

[10, 5, 8, 32, 65, 43]

In [4]:
#There are 3 main ways to instantiate a Numpy ndarray object. One of these is to use np.array(<collection>)
ages = np.array(ages_list)
print(type(ages))
print(ages)

<class 'numpy.ndarray'>
[10  5  8 32 65 43]

In [10]:
print(ages)
print("Size:\t" , ages.size)
print("Shape:\t", ages.shape)

[10  5  8 32 65 43]
Size:	 6
Shape:	 (6,)

In [11]:
zeroArr = np.zeros(5)
print(zeroArr)

[0. 0. 0. 0. 0.]

**Multi-dime**

Now let us define a new list containing the weights of these 6 people.

In [12]:
#Now let us define a new list containing the weights of these 6 people
weight_list = [32, 18, 26, 60, 55, 65]

In [13]:
#Now, we define an ndarray containing all for this information, and again print the size and shape of the array.
people = np.array([ages_list, weight_list])

print("People:\t" , people)
print("Size:\t" , people.size)
print("Shape:\t", people.shape)

People:	 [[10  5  8 32 65 43]
 [32 18 26 60 55 65]]
Size:	 12
Shape:	 (2, 6)

In [18]:
# 2 X 6 = 1 X 12 = 4 X 3 = 3 X 4 = 12 X 1

people = people.reshape(12,1)
print("People:\t" , people)
print("Size:\t" , people.size)
print("Shape:\t", people.shape)

People:	 [[10]
 [ 5]
 [ 8]
 [32]
 [65]
 [43]
 [32]
 [18]
 [26]
 [60]
 [55]
 [65]]
Size:	 12
Shape:	 (12, 1)

Note: The new shape must be the same "size" as the old shape

**Exercise**-1

In [20]:
#Generate a 1D numpy array with the values [7, 9, 65, 33, 85, 99]
list1=[7,9,65,33,85,99]
print(list1)

[7, 9, 65, 33, 85, 99]

In [21]:
#Generate a matrix (2D numpy array) of the values:

sam2=np.array([[1,2,4], [2,3,0],[0,5,1]])
sam2
print("sam2:\t" , sam2)
print("Size:\t" , sam2.size)
print("Shape:\t", sam2.shape)

sam2:	 [[1 2 4]
 [2 3 0]
 [0 5 1]]
Size:	 9
Shape:	 (3, 3)

In [57]:
# Change the dimensions of this array to another permitted shape
sam2 = sam2.reshape(1,9)

print("sam2:\t" , sam2)
print("Size:\t" , sam2.size)
print("Shape:\t", sam2.shape)

sam2:	 [[1 2 4 2 3 0 0 5 1]]
Size:	 9
Shape:	 (1, 9)

**Array Generation**

Instead of defining an array manually, we can ask numpy to do it for us.


The np.arange() method creates a range of numbers with user defined steps between each.

In [34]:
five_times_table = np.arange(0, 500, 50)
five_times_table

array([  0,  50, 100, 150, 200, 250, 300, 350, 400, 450])

The np.linspace() method will produce a range of evenly spaced values, starting, ending, and taking as many steps as you specify.

In [37]:
five_spaced = np.linspace(0,50,12)
print(five_spaced)

[ 0.          4.54545455  9.09090909 13.63636364 18.18181818 22.72727273
 27.27272727 31.81818182 36.36363636 40.90909091 45.45454545 50.        ]

The .repeat() method will repeat an object you pass a specified number of times.

In [39]:
fiveArr = np.repeat(5, 10)
print(fiveArr)

[5 5 5 5 5 5 5 5 5 5]

The np.eye() functions will create an identity matrix/array for us.

In [41]:
identity_matrix = np.eye(5)
print(identity_matrix)

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

**Operations**


There are many, many operations which we can perform on arrays. Below, we demonstrate a few.


What is happening in each line?

In [42]:
five_times_table

array([  0,  50, 100, 150, 200, 250, 300, 350, 400, 450])

In [47]:
print("1:", 2 * five_times_table)
print("2:", 10 + five_times_table)
print("3:", five_times_table - 1)
print("4:", five_times_table/5)
print("5:", five_times_table **2)
print("6:", five_times_table <= 200)

1: [  0 100 200 300 400 500 600 700 800 900]
2: [ 10  60 110 160 210 260 310 360 410 460]
3: [ -1  49  99 149 199 249 299 349 399 449]
4: [ 0. 10. 20. 30. 40. 50. 60. 70. 80. 90.]
5: [     0   2500  10000  22500  40000  62500  90000 122500 160000 202500]
6: [ True  True  True  True  True False False False False False]

**Speed Test**


If we compare the speed at which we can do these operations compared to core python, we will notice a substantial difference.

In [50]:
fives_list = list(range(0,5001,5))
fives_list

[0,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 105,
 110,
 115,
 120,
 125,
 130,
 135,
 140,
 145,
 150,
 155,
 160,
 165,
 170,
 175,
 180,
 185,
 190,
 195,
 200,
 205,
 210,
 215,
 220,
 225,
 230,
 235,
 240,
 245,
 250,
 255,
 260,
 265,
 270,
 275,
 280,
 285,
 290,
 295,
 300,
 305,
 310,
 315,
 320,
 325,
 330,
 335,
 340,
 345,
 350,
 355,
 360,
 365,
 370,
 375,
 380,
 385,
 390,
 395,
 400,
 405,
 410,
 415,
 420,
 425,
 430,
 435,
 440,
 445,
 450,
 455,
 460,
 465,
 470,
 475,
 480,
 485,
 490,
 495,
 500,
 505,
 510,
 515,
 520,
 525,
 530,
 535,
 540,
 545,
 550,
 555,
 560,
 565,
 570,
 575,
 580,
 585,
 590,
 595,
 600,
 605,
 610,
 615,
 620,
 625,
 630,
 635,
 640,
 645,
 650,
 655,
 660,
 665,
 670,
 675,
 680,
 685,
 690,
 695,
 700,
 705,
 710,
 715,
 720,
 725,
 730,
 735,
 740,
 745,
 750,
 755,
 760,
 765,
 770,
 775,
 780,
 785,
 790,
 795,
 800,
 805,
 810,
 815,
 820,
 825,
 830,
 835,
 840,
 845,
 850,
 855,
 860,
 865,
 870,
 875,
 880,
 885,
 890,
 895,
 900,
 905,
 910,
 915,
 920,
 925,
 930,
 935,
 940,
 945,
 950,
 955,
 960,
 965,
 970,
 975,
 980,
 985,
 990,
 995,
 1000,
 1005,
 1010,
 1015,
 1020,
 1025,
 1030,
 1035,
 1040,
 1045,
 1050,
 1055,
 1060,
 1065,
 1070,
 1075,
 1080,
 1085,
 1090,
 1095,
 1100,
 1105,
 1110,
 1115,
 1120,
 1125,
 1130,
 1135,
 1140,
 1145,
 1150,
 1155,
 1160,
 1165,
 1170,
 1175,
 1180,
 1185,
 1190,
 1195,
 1200,
 1205,
 1210,
 1215,
 1220,
 1225,
 1230,
 1235,
 1240,
 1245,
 1250,
 1255,
 1260,
 1265,
 1270,
 1275,
 1280,
 1285,
 1290,
 1295,
 1300,
 1305,
 1310,
 1315,
 1320,
 1325,
 1330,
 1335,
 1340,
 1345,
 1350,
 1355,
 1360,
 1365,
 1370,
 1375,
 1380,
 1385,
 1390,
 1395,
 1400,
 1405,
 1410,
 1415,
 1420,
 1425,
 1430,
 1435,
 1440,
 1445,
 1450,
 1455,
 1460,
 1465,
 1470,
 1475,
 1480,
 1485,
 1490,
 1495,
 1500,
 1505,
 1510,
 1515,
 1520,
 1525,
 1530,
 1535,
 1540,
 1545,
 1550,
 1555,
 1560,
 1565,
 1570,
 1575,
 1580,
 1585,
 1590,
 1595,
 1600,
 1605,
 1610,
 1615,
 1620,
 1625,
 1630,
 1635,
 1640,
 1645,
 1650,
 1655,
 1660,
 1665,
 1670,
 1675,
 1680,
 1685,
 1690,
 1695,
 1700,
 1705,
 1710,
 1715,
 1720,
 1725,
 1730,
 1735,
 1740,
 1745,
 1750,
 1755,
 1760,
 1765,
 1770,
 1775,
 1780,
 1785,
 1790,
 1795,
 1800,
 1805,
 1810,
 1815,
 1820,
 1825,
 1830,
 1835,
 1840,
 1845,
 1850,
 1855,
 1860,
 1865,
 1870,
 1875,
 1880,
 1885,
 1890,
 1895,
 1900,
 1905,
 1910,
 1915,
 1920,
 1925,
 1930,
 1935,
 1940,
 1945,
 1950,
 1955,
 1960,
 1965,
 1970,
 1975,
 1980,
 1985,
 1990,
 1995,
 2000,
 2005,
 2010,
 2015,
 2020,
 2025,
 2030,
 2035,
 2040,
 2045,
 2050,
 2055,
 2060,
 2065,
 2070,
 2075,
 2080,
 2085,
 2090,
 2095,
 2100,
 2105,
 2110,
 2115,
 2120,
 2125,
 2130,
 2135,
 2140,
 2145,
 2150,
 2155,
 2160,
 2165,
 2170,
 2175,
 2180,
 2185,
 2190,
 2195,
 2200,
 2205,
 2210,
 2215,
 2220,
 2225,
 2230,
 2235,
 2240,
 2245,
 2250,
 2255,
 2260,
 2265,
 2270,
 2275,
 2280,
 2285,
 2290,
 2295,
 2300,
 2305,
 2310,
 2315,
 2320,
 2325,
 2330,
 2335,
 2340,
 2345,
 2350,
 2355,
 2360,
 2365,
 2370,
 2375,
 2380,
 2385,
 2390,
 2395,
 2400,
 2405,
 2410,
 2415,
 2420,
 2425,
 2430,
 2435,
 2440,
 2445,
 2450,
 2455,
 2460,
 2465,
 2470,
 2475,
 2480,
 2485,
 2490,
 2495,
 2500,
 2505,
 2510,
 2515,
 2520,
 2525,
 2530,
 2535,
 2540,
 2545,
 2550,
 2555,
 2560,
 2565,
 2570,
 2575,
 2580,
 2585,
 2590,
 2595,
 2600,
 2605,
 2610,
 2615,
 2620,
 2625,
 2630,
 2635,
 2640,
 2645,
 2650,
 2655,
 2660,
 2665,
 2670,
 2675,
 2680,
 2685,
 2690,
 2695,
 2700,
 2705,
 2710,
 2715,
 2720,
 2725,
 2730,
 2735,
 2740,
 2745,
 2750,
 2755,
 2760,
 2765,
 2770,
 2775,
 2780,
 2785,
 2790,
 2795,
 2800,
 2805,
 2810,
 2815,
 2820,
 2825,
 2830,
 2835,
 2840,
 2845,
 2850,
 2855,
 2860,
 2865,
 2870,
 2875,
 2880,
 2885,
 2890,
 2895,
 2900,
 2905,
 2910,
 2915,
 2920,
 2925,
 2930,
 2935,
 2940,
 2945,
 2950,
 2955,
 2960,
 2965,
 2970,
 2975,
 2980,
 2985,
 2990,
 2995,
 3000,
 3005,
 3010,
 3015,
 3020,
 3025,
 3030,
 3035,
 3040,
 3045,
 3050,
 3055,
 3060,
 3065,
 3070,
 3075,
 3080,
 3085,
 3090,
 3095,
 3100,
 3105,
 3110,
 3115,
 3120,
 3125,
 3130,
 3135,
 3140,
 3145,
 3150,
 3155,
 3160,
 3165,
 3170,
 3175,
 3180,
 3185,
 3190,
 3195,
 3200,
 3205,
 3210,
 3215,
 3220,
 3225,
 3230,
 3235,
 3240,
 3245,
 3250,
 3255,
 3260,
 3265,
 3270,
 3275,
 3280,
 3285,
 3290,
 3295,
 3300,
 3305,
 3310,
 3315,
 3320,
 3325,
 3330,
 3335,
 3340,
 3345,
 3350,
 3355,
 3360,
 3365,
 3370,
 3375,
 3380,
 3385,
 3390,
 3395,
 3400,
 3405,
 3410,
 3415,
 3420,
 3425,
 3430,
 3435,
 3440,
 3445,
 3450,
 3455,
 3460,
 3465,
 3470,
 3475,
 3480,
 3485,
 3490,
 3495,
 3500,
 3505,
 3510,
 3515,
 3520,
 3525,
 3530,
 3535,
 3540,
 3545,
 3550,
 3555,
 3560,
 3565,
 3570,
 3575,
 3580,
 3585,
 3590,
 3595,
 3600,
 3605,
 3610,
 3615,
 3620,
 3625,
 3630,
 3635,
 3640,
 3645,
 3650,
 3655,
 3660,
 3665,
 3670,
 3675,
 3680,
 3685,
 3690,
 3695,
 3700,
 3705,
 3710,
 3715,
 3720,
 3725,
 3730,
 3735,
 3740,
 3745,
 3750,
 3755,
 3760,
 3765,
 3770,
 3775,
 3780,
 3785,
 3790,
 3795,
 3800,
 3805,
 3810,
 3815,
 3820,
 3825,
 3830,
 3835,
 3840,
 3845,
 3850,
 3855,
 3860,
 3865,
 3870,
 3875,
 3880,
 3885,
 3890,
 3895,
 3900,
 3905,
 3910,
 3915,
 3920,
 3925,
 3930,
 3935,
 3940,
 3945,
 3950,
 3955,
 3960,
 3965,
 3970,
 3975,
 3980,
 3985,
 3990,
 3995,
 4000,
 4005,
 4010,
 4015,
 4020,
 4025,
 4030,
 4035,
 4040,
 4045,
 4050,
 4055,
 4060,
 4065,
 4070,
 4075,
 4080,
 4085,
 4090,
 4095,
 4100,
 4105,
 4110,
 4115,
 4120,
 4125,
 4130,
 4135,
 4140,
 4145,
 4150,
 4155,
 4160,
 4165,
 4170,
 4175,
 4180,
 4185,
 4190,
 4195,
 4200,
 4205,
 4210,
 4215,
 4220,
 4225,
 4230,
 4235,
 4240,
 4245,
 4250,
 4255,
 4260,
 4265,
 4270,
 4275,
 4280,
 4285,
 4290,
 4295,
 4300,
 4305,
 4310,
 4315,
 4320,
 4325,
 4330,
 4335,
 4340,
 4345,
 4350,
 4355,
 4360,
 4365,
 4370,
 4375,
 4380,
 4385,
 4390,
 4395,
 4400,
 4405,
 4410,
 4415,
 4420,
 4425,
 4430,
 4435,
 4440,
 4445,
 4450,
 4455,
 4460,
 4465,
 4470,
 4475,
 4480,
 4485,
 4490,
 4495,
 4500,
 4505,
 4510,
 4515,
 4520,
 4525,
 4530,
 4535,
 4540,
 4545,
 4550,
 4555,
 4560,
 4565,
 4570,
 4575,
 4580,
 4585,
 4590,
 4595,
 4600,
 4605,
 4610,
 4615,
 4620,
 4625,
 4630,
 4635,
 4640,
 4645,
 4650,
 4655,
 4660,
 4665,
 4670,
 4675,
 4680,
 4685,
 4690,
 4695,
 4700,
 4705,
 4710,
 4715,
 4720,
 4725,
 4730,
 4735,
 4740,
 4745,
 4750,
 4755,
 4760,
 4765,
 4770,
 4775,
 4780,
 4785,
 4790,
 4795,
 4800,
 4805,
 4810,
 4815,
 4820,
 4825,
 4830,
 4835,
 4840,
 4845,
 4850,
 4855,
 4860,
 4865,
 4870,
 4875,
 4880,
 4885,
 4890,
 4895,
 4900,
 4905,
 4910,
 4915,
 4920,
 4925,
 4930,
 4935,
 4940,
 4945,
 4950,
 4955,
 4960,
 4965,
 4970,
 4975,
 4980,
 4985,
 4990,
 4995,
 ...]

In [52]:
five_times_table_lge = np.arange(0,5001,5)
five_times_table_lge

array([   0,    5,   10, ..., 4990, 4995, 5000])

In [53]:
#This module provides a simple way to find the execution time of small bits of Python code.

%timeit five_times_table_lge + 5

1.33 µs ± 36.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [54]:
%timeit [e + 5 for e in fives_list]

54.6 µs ± 591 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Boolean string operations can also be performed on ndarrays.

In [55]:
words = np.array(["ten", "nine", "eight", "seven", "six"])

print(np.isin(words, 'e'))

print("e" in words)
["e" in word for word in words]

[False False False False False]
False

[True, True, True, True, False]

**Transpose**

In [56]:
sam2.shape = (3,3)
print(sam2, "\n")
print(sam2.T)

[[1 2 4]
 [2 3 0]
 [0 5 1]]

[[1 2 0]
 [2 3 5]
 [4 0 1]]

**Data Types**


As previously mentioned, ndarrays can only have one data type. If we want to obtain or change this, we use the **.dtype** attribute.

In [58]:
sam2.dtype

dtype('int64')

What is the data type of the below ndarray?

In [59]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'])
ages_with_strings

array(['10', '5', '8', '32', '65', '43'], dtype='<U21')

What is the dtype of this array?

In [60]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'], dtype='int32')
ages_with_strings

array([10,  5,  8, 32, 65, 43], dtype=int32)


What do you think has happened here?

In [61]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'])
print(ages_with_strings)

['10' '5' '8' '32' '65' '43']

In [62]:
ages_with_strings.dtype = 'int32'
print(ages_with_strings)

[49 48  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 53  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 56  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 51 50  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0  0  0  0 54 53  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0  0  0  0 52 51  0  0  0  0  0  0  0  0  0  0  0  0  0
  0  0  0  0  0  0]

In [63]:
ages_with_strings.size

126

In [64]:
ages_with_strings.size/21

6.0

In [65]:
np.array([10, 5, 8, '32', '65', '43']).size

6

The correct way to have changed the data type of the ndarray would have been to use the .astype() method, demonstrated below

In [66]:
ages_with_strings = np.array([10, 5, 8, '32', '65', '43'])
print(ages_with_strings)
print(ages_with_strings.astype('int32'))

['10' '5' '8' '32' '65' '43']
[10  5  8 32 65 43]

**Exercise-2**

In [68]:
#### Create an array of string numbers, but use dtype to make it an array of floats.

import numpy as np
X= ["3.4", "2.5", "6.2"]
Y = np.asarray(X, dtype=float)

print(X, type(X), type(X[0]))
print(Y, type(Y), type(Y[0]))

['3.4', '2.5', '6.2'] <class 'list'> <class 'str'>
[3.4 2.5 6.2] <class 'numpy.ndarray'> <class 'numpy.float64'>

In [69]:
#### Transpose the matrix, printing the new size and shape.
import numpy 
matrix=[[11,21,32],[41,53,64]]
print(matrix)
print("\n")
print(numpy.transpose(matrix))

[[11, 21, 32], [41, 53, 64]]


[[11 41]
 [21 53]
 [32 64]]

In [70]:
print(type(matrix))

<class 'list'>

In [71]:
numpy.array(matrix, dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True]])

**Array Slicing Operations**


As before, we can use square brackets and indices to access individual values, and the colon operator to slice the array.

In [72]:
five_times_table

array([  0,  50, 100, 150, 200, 250, 300, 350, 400, 450])

In [73]:
five_times_table[0]

0

In [74]:
five_times_table[-1]

450

In [75]:
five_times_table[:4]

array([  0,  50, 100, 150])

In [76]:
five_times_table[4:]

array([200, 250, 300, 350, 400, 450])

We can also slice an n-dim ndarray., specifying the slice operation accross each axis.

In [77]:
print(people)
people[:3, :3]

[[10]
 [ 5]
 [ 8]
 [32]
 [65]
 [43]
 [32]
 [18]
 [26]
 [60]
 [55]
 [65]]

array([[10],
       [ 5],
       [ 8]])

**Exercise-2**


*   Create a numpy array with 50 zeros
*   Create a np array of 2 repeated 20 times
*   Create a numpy array from 0 to 2 pi  in steps of 0.1

For one of the arrays generated:

*   Get the first five values

*   Get the last 3 values

*  Get the 4th value to the 7th value

In [78]:
np.zeros(50)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [79]:
np.repeat(2, 20)

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [80]:
x = np.arange(start=0, stop=2*3.14, step=0.1)
x

array([0. , 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2,
       1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2. , 2.1, 2.2, 2.3, 2.4, 2.5,
       2.6, 2.7, 2.8, 2.9, 3. , 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8,
       3.9, 4. , 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5. , 5.1,
       5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6. , 6.1, 6.2])

In [82]:
x[:5]

array([0. , 0.1, 0.2, 0.3, 0.4])

In [83]:
x[60:]

array([6. , 6.1, 6.2])

In [84]:
x[4:7]

array([0.4, 0.5, 0.6])

We can reverse an array by using .flip() or by using the :: operator.

In [85]:
reverse_five_times_table = np.flip(five_times_table)
reverse_five_times_table

array([450, 400, 350, 300, 250, 200, 150, 100,  50,   0])

In [86]:
reverse_five_times_table = five_times_table[-1::-1]
print(reverse_five_times_table)
five_times_table

[450 400 350 300 250 200 150 100  50   0]

array([  0,  50, 100, 150, 200, 250, 300, 350, 400, 450])

We can also use the :: operator to select steps of the original array.

In [87]:
five_times_table[0::3] #Every 3rd element starting from 0

array([  0, 150, 300, 450])

**Exercise**

take one of the arrays you defined and

(*)#### Reverse it

(*)#### Only keep every 4th element.

(*)#### Get every 2nd element, starting from the last and moving backwards.

In [88]:
result = np.flip(x)

print("Reverse array",(result))

Reverse array [6.2 6.1 6.  5.9 5.8 5.7 5.6 5.5 5.4 5.3 5.2 5.1 5.  4.9 4.8 4.7 4.6 4.5
 4.4 4.3 4.2 4.1 4.  3.9 3.8 3.7 3.6 3.5 3.4 3.3 3.2 3.1 3.  2.9 2.8 2.7
 2.6 2.5 2.4 2.3 2.2 2.1 2.  1.9 1.8 1.7 1.6 1.5 1.4 1.3 1.2 1.1 1.  0.9
 0.8 0.7 0.6 0.5 0.4 0.3 0.2 0.1 0. ]

In [89]:
x[4]

0.4

In [90]:
a = [2, 4, 6, 8, 10]
b = [2, 4, 6, 8, 10]
print( a[::2][::-1])
print (b[::2][::-1])

[10, 6, 2]
[10, 6, 2]

**Stats**

In [91]:
np.array([1.65432, 5.98765]).round(2)

array([1.65, 5.99])

In [92]:
nums = np.arange(0, 4, 0.2555)

**Exercise**

Compute min, max, sum, mean, median, variance, and standard deviation of the above array, all to to 2 decimal places.

In [93]:
print("min = ", np.min(nums).round(2))
print("max = ", np.max(nums).round(2))
print("sum = ", np.sum(nums).round(2))
print("mean = ", np.mean(nums).round(2))
print("median = ", np.median(nums).round(2))
print("var = ", np.var(nums).round(2))
print("std = ", np.std(nums).round(2))

min =  0.0
max =  3.83
sum =  30.66
mean =  1.92
median =  1.92
var =  1.39
std =  1.18

**Random**

With np.random, we can generate a number of types of dataset, and create training data.

The below code simulates a fair coin toss.

In [94]:
flip = np.random.choice([0,1], 10)
flip

array([0, 1, 1, 1, 1, 0, 0, 0, 1, 1])

In [95]:
np.random.rand(10,20,9)

array([[[0.9654934 , 0.88864112, 0.52204519, ..., 0.78386979,
         0.74078411, 0.50698543],
        [0.46169535, 0.36972641, 0.88383421, ..., 0.83946774,
         0.17265883, 0.84289012],
        [0.02716596, 0.57200767, 0.03430285, ..., 0.24200156,
         0.80728998, 0.72742117],
        ...,
        [0.79956303, 0.13544087, 0.20391218, ..., 0.77835467,
         0.73524398, 0.90630502],
        [0.15707189, 0.51018889, 0.07642541, ..., 0.12435789,
         0.71268765, 0.23702043],
        [0.47474679, 0.8489927 , 0.61027009, ..., 0.30967353,
         0.70301803, 0.34475775]],

       [[0.74412726, 0.9391209 , 0.59685958, ..., 0.17074236,
         0.08429162, 0.90205044],
        [0.83644716, 0.47279694, 0.42478708, ..., 0.00473477,
         0.78242203, 0.12263366],
        [0.84539982, 0.59803185, 0.1822848 , ..., 0.4666599 ,
         0.02939345, 0.82115753],
        ...,
        [0.73158831, 0.24677384, 0.5106139 , ..., 0.46757961,
         0.86704163, 0.40808752],
        [0.52271802, 0.07696082, 0.43945682, ..., 0.31724906,
         0.75716488, 0.73703006],
        [0.37030355, 0.2555296 , 0.655695  , ..., 0.82721553,
         0.51804249, 0.19859902]],

       [[0.21960845, 0.06217375, 0.44783637, ..., 0.79746067,
         0.98705926, 0.77200246],
        [0.77917392, 0.00671684, 0.72363501, ..., 0.86794951,
         0.79789469, 0.58012364],
        [0.20698614, 0.11243401, 0.07558732, ..., 0.85859015,
         0.92626002, 0.48438774],
        ...,
        [0.27799034, 0.44876842, 0.66939839, ..., 0.20539862,
         0.45376278, 0.0833033 ],
        [0.55499482, 0.90213576, 0.58057667, ..., 0.56545404,
         0.91295509, 0.84307289],
        [0.76712285, 0.98866078, 0.03008693, ..., 0.19832142,
         0.29646018, 0.0706948 ]],

       ...,

       [[0.99872262, 0.30021145, 0.67398908, ..., 0.67923258,
         0.48974534, 0.39959903],
        [0.78151445, 0.87523478, 0.55074087, ..., 0.61725361,
         0.51380392, 0.9887579 ],
        [0.84135623, 0.0256735 , 0.18533176, ..., 0.91562089,
         0.5496653 , 0.6849365 ],
        ...,
        [0.51603884, 0.82980452, 0.47810044, ..., 0.94516552,
         0.30474462, 0.60959575],
        [0.65103535, 0.13028658, 0.23192393, ..., 0.7890779 ,
         0.96666506, 0.10951675],
        [0.38810758, 0.23881367, 0.55294982, ..., 0.15041733,
         0.81559517, 0.70771499]],

       [[0.93123607, 0.37431038, 0.35695946, ..., 0.56830073,
         0.98855317, 0.97900897],
        [0.63990981, 0.17323776, 0.79556933, ..., 0.52344287,
         0.88567925, 0.96144217],
        [0.02534156, 0.81319058, 0.24072827, ..., 0.33470995,
         0.01653547, 0.34138581],
        ...,
        [0.6805791 , 0.89040073, 0.72895959, ..., 0.4244437 ,
         0.4313063 , 0.25278155],
        [0.67821613, 0.61730259, 0.42754253, ..., 0.80648341,
         0.59543736, 0.6341555 ],
        [0.64871928, 0.12567329, 0.0458931 , ..., 0.66770145,
         0.92376176, 0.78114427]],

       [[0.37140081, 0.15726121, 0.33907123, ..., 0.78964152,
         0.61329799, 0.52844294],
        [0.71944808, 0.74836716, 0.60354424, ..., 0.50087448,
         0.9146614 , 0.29430421],
        [0.70841446, 0.11809773, 0.77675617, ..., 0.71948649,
         0.7622633 , 0.24786078],
        ...,
        [0.96000071, 0.07861001, 0.71984059, ..., 0.24235848,
         0.12542292, 0.04485581],
        [0.73043902, 0.63317543, 0.88355226, ..., 0.32579461,
         0.62120623, 0.67395827],
        [0.19036283, 0.81963874, 0.6939002 , ..., 0.94234849,
         0.84525432, 0.43665598]]])

In [96]:
mu, sigma = 0, 0.1 # mean and standard deviation
s = np.random.normal(mu, sigma, 1000)

**Exercise**



* Simulate a six-sided dice using numpy.random.choice(), generate a list of values you would obtain from 10 throws.


*   Simulate a two-sided coin toss that is NOT fair: it is twice as likely to have head than tails.

In [97]:
flip_for_die = np.random.choice([1,2,3,4,5,6], 10)
flip_for_die

array([3, 1, 6, 3, 3, 5, 6, 3, 2, 6])

In [98]:
coin=np.random.choice(['Head','Head','Tail'],10)

In [99]:
coin

array(['Head', 'Tail', 'Tail', 'Head', 'Tail', 'Head', 'Head', 'Head',
       'Head', 'Head'], dtype='<U4')