<a href="https://colab.research.google.com/github/SusaiIgnesh/Readme/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime

**DataFrames**

In [2]:
students = ['Alice', 'Bob', 'Emily', 'Charlie']
scores = [90, 80, 65, 50]

In [3]:
exam_results = pd.DataFrame(
    {
        "name": students,
        "scores": scores
    }
)

In [4]:
exam_results

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

**Searching (SQL SELECT)**

In [5]:
exam_results.loc[0, 'scores']

90

In [9]:
exam_results.loc[:, 'scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [10]:
exam_results.loc[2, :]

name      Emily
scores       65
Name: 2, dtype: object

In [11]:
exam_results['scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [12]:
exam_results[['name', 'scores']]

      name  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

**Add Columns**


We can also easily add column

In [13]:
gender = ['female', 'male', 'female', 'male']

In [14]:
exam_results['gender'] = gender

In [15]:
exam_results

      name  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [18]:
exam_results[['scores','gender']]

   scores  gender
0      90  female
1      80    male
2      65  female
3      50    male

**Remove Columns**

In [21]:
exam_results.drop('name', axis=1)

   scores  gender
0      90  female
1      80    male
2      65  female
3      50    male

**Coumn names and Row Indexl**

In [22]:
exam_results.columns

Index(['name', 'scores', 'gender'], dtype='object')

In [23]:
exam_results.index

RangeIndex(start=0, stop=4, step=1)

**Renaming Columns**

In [24]:
exam_results.rename({'name': 'first_name'}, axis=1)

  first_name  scores  gender
0      Alice      90  female
1        Bob      80    male
2      Emily      65  female
3    Charlie      50    male

In [26]:
exam_results.rename({'scores':'test_scores'},axis=1)

      name  test_scores  gender
0    Alice           90  female
1      Bob           80    male
2    Emily           65  female
3  Charlie           50    male

**Dealing with missing values**


Dataframes have specific commands which help with the handling of missing data

In [27]:
sparse = pd.DataFrame({'a': [1, 2, 3],
                       'b': [np.nan, 4, np.nan],
                       'c': [5, np.nan, np.nan]})

In [28]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [29]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [30]:
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [31]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

**Group by**

In [32]:
exam_results.groupby('gender').mean()

        scores
gender
female    77.5
male      65.0

In [35]:
mylist = [1,2,1,2]

exam_results.groupby(mylist).get_group(1)

    name  scores  gender
0  Alice      90  female
2  Emily      65  female

In [36]:
exam_results.groupby(mylist).get_group(2)

      name  scores gender
1      Bob      80   male
3  Charlie      50   male

Thus, suppose we want to group people who obtained marks above or below 70, then we could do:

In [37]:
above_70 = exam_results['scores'] > 70
above_70

0     True
1     True
2    False
3    False
Name: scores, dtype: bool

This will compute the mean scores of students who scored above or below 70

In [38]:

exam_results.groupby(above_70).mean()

        scores
scores
False     57.5
True      85.0

**Merge and Joining**

In [39]:
contacts = pd.DataFrame(
    {
        'name' : ['Alice', 'Charlie'],
        'tel'  : ['+44 1234 5678', '+44 3245 5564']
    }
)

In [40]:
exam_results.merge(contacts, left_on='name', right_on='name')   # defaults to inner join

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1  Charlie      50    male  +44 3245 5564

In [41]:
exam_results.merge(contacts, left_on='name', right_on='name', how='outer')

      name  scores  gender            tel
0    Alice      90  female  +44 1234 5678
1      Bob      80    male            NaN
2    Emily      65  female            NaN
3  Charlie      50    male  +44 3245 5564